/* .modal-fullscreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .modal-fullscreen .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: none;
  }
  .modal-fullscreen .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen .modal-body {
    height: 100%;
    overflow: auto;
  } */

  /* body {
    --ck-z-default: 100;
    --ck-z-modal: calc( var(--ck-z-default) + 999 );
} */

/* Styles for hover effect on the main nav-item */
.nav-item:hover {
    background-color: #f0f0f0; /* Change background color on hover */
}

/* Styles for active state of the main nav-link */
.nav-item .nav-link.active {
    color: #007bff; /* Active link text color */
    font-weight: bold; /* Optional: Make text bold for active link */
}

/* Styles for hover effect on nested nav-links */
.nav-item .nav-link:hover {
    background-color: #e3e3e3; /* Change background color on hover */
}

/* Styles for active state of nested nav-links */
.nav-item .nav-link.active {
    color: #007bff; /* Active link text color */
    font-weight: bold; /* Optional: Make text bold for active link */
}


/* #loadingIndicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.25em;
} */